@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Montserrat:wght@300;500&family=Outfit:wght@300;400;600&family=Roboto:ital,wght@0,300;0,700;1,900&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

li,
h1 {
  list-style: none;
  padding: 10px;
  border-radius: 8px;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

button {
  padding: 10px 25px;
  color: white;
  font-size: 2rem;
  background-color: #9ca3af;
  border: 0;
  outline: 0;
  border-radius: 8px;
  cursor: pointer;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  height: 20vh;
}
.main-navigation > a {
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #34d399;
}

.login-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  gap: 25px;
  padding: 25px 45px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.login-container > h5 {
  font-size: 1.1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
  width: 100%;
}

form > input {
  outline: 0;
  border: 0;
  border-bottom: 2px solid #65a30d;
  padding: 10px 20px;
  width: 100%;
}

form > input:focus {
  outline: 0;
  border: 0;

  border-bottom: 5px solid #65a30d;
}
form > button {
  padding: 10px 25px;
  cursor: pointer;
  background-color: #10b981;
  border: 0;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}

label {
  font-size: 1rem;
  opacity: 0.5;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  min-height: 100vh;
  color: white;
  padding: 25px;
  width: 100%;
}

.post-details {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3f3f46;
  min-height: 100vh;
  color: white;
}

.post-details > img {
  width: '85%';
}
p {
  font-size: 1.3rem;
}

.edit-container,
.create-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  width: 80%;
}

.edit-container > form,
.create-post-container > form {
  align-items: center;
}

.create-post-container > form > *,
.edit-container > form > * {
  width: 60%;
}

@media (max-width: 660px) {
  nav {
    flex-direction: column;
  }

  .login-container {
    font-size: 0.8rem;
    width: 90%;
    padding: 15px 20px;
  }

  .login-container > p {
    text-align: center;
  }
  .edit-container > h1 {
    text-align: center;
  }

  .create-post-container > form > *,
  .edit-container > form > * {
    width: 80%;
  }
}

@media (max-width: 380px) {
  nav {
    font-size: 0.8rem;
  }

  .posts-container {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
  }

  .main-navigation {
    font-size: 0.7rem;
    gap: 1px !important;
  }

  .signup-container {
    font-size: 0.8rem;
    padding: 15px 20px;
    width: 90%;
  }
  .signup-container > h1 {
    font-size: 1.5rem;
  }
  .signup-container > h3 {
    text-align: center;
    font-size: 1rem;
  }

  .login-container {
    font-size: 0.8rem;
    width: 90%;
    gap: 10px;
    padding: 15px 20px;
  }

  .login-container > p {
    text-align: center;
  }

  .post-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
  }
  .post-details:nth-child(3) {
    font-size: 0.5rem;
  }
  .post-detail > h1 {
    text-align: center !important;
  }
  .post-details > img {
    height: 250px !important;
  }

  .create-post-container > form > *,
  .edit-container > form > * {
    width: 100%;
  }
}

.spinner-container {
  min-height: 100vh;
  width: 100%;
  background-color: #155e75;
}
